<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>{% block title %}WPI Major Tracking Prototype{% endblock %}</title>
  <link rel='stylesheet' href='/libs/bootstrap-3.3.6-dist/css/bootstrap.min.css'>
  <link rel='stylesheet' href='/css/majorTracking.css'>
  <script type="text/javascript" src="/js"></script>
</head>
<body>
  {% if user %}
  
  <form method='GET' action='/api/logout'>
    <input id='logoutButton' type='submit' class='btn' value='logout' />
  </form>

  {% endif %}
  <div class="content">
    {% block maincontent %}

    {% endblock %}
  </div>
</body>
</html>