@import url(https://fonts.googleapis.com/css?family=Coda);

#formContainer input {
    display: inline;
    vertical-align: middle;
}

#watgrandma {
	display: block;
	width: 400px;
	height: 600px;
	margin: auto;
}
#watcontainer {
    overflow: hidden;
    width: 100%;
    height: 700px;
}

a {
  color: lightcoral;
  text-decoration: none;
}

a:hover {
  color: orangered;
  text-decoration: underline;
}

h1 {
  font-family: 'Coda', "Arial";
}

.errorMsg {
    color: red;
}

input {
    display: inline-block;
}

.inputLabel {
    display: block;
    width: 270px;
    text-align: right;
    margin: 5px;
}

.center-form {
  width: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.interaction-block {
  padding: 15px;
  background-color: rgba(100, 100, 100, 0.7);
  border-radius: 15px;
  color: white;
  margin: 10px 0px 10px 0px;
}

.background {
  min-width: 100%;
  min-height: 100%;
  height: auto;
  width: auto;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: -100;
}

.header {
  color: white;
  text-align: center;
  width: 75%;
  margin: auto;
}

body {
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-image: url('http://7-themes.com/data_images/out/1/6770172-amazing-night-sky-wallpaper.jpg');
  background-size: cover;
}

html {
  height: 100%;
  width: 100%;
}