#formContainer form,
#formContainer form div {
    display: inline;
}

#formContainer input {
    display: inline;
    vertical-align: middle;
}

#watgrandma {
	display: block;
	width: 400px;
	height: 600px;
	margin: auto;
}
#watcontainer {
    overflow: hidden;
    width: 100%;
    height: 700px;
}

.errorMsg {
    color: red;
}

input {
    display: inline-block;
}

.inputLabel {
    display: block;
    width: 270px;
    text-align: right;
    margin: 5px;
}

.center-form {
  width: 50%;
  padding: 15px;
  background-color: rgba(172, 43, 55, 0.9);
  border-radius: 15px;
  color: white;
}

.background {
  min-width: 100%;
  min-height: 100%;
  height: auto;
  width: auto;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: -100;

}

body {
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-image: url('https://upload.wikimedia.org/wikipedia/en/7/79/Earle_Bridge.jpg');
  background-size: cover;
}

html {
  height: 100%;
  width: 100%;
}