@import url(https://fonts.googleapis.com/css?family=Coda);

#formContainer input {
    display: inline;
    vertical-align: middle;
}

a {
  color: lightcoral;
  text-decoration: none;
}

a:hover {
  color: orangered;
  text-decoration: underline;
}

h1, h2 {
  font-family: 'Coda', "Arial";
  text-align: center;
  margin-top: 25px;
}

.errorMsg {
    color: red;
}

input {
    display: inline-block;
}

.center-form {
  width: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.interaction-block {
  padding: 15px;
  background-color: rgba(100, 100, 100, 0.9);
  border-radius: 15px;
  color: white;
  margin: 10px 0px 10px 0px;
}

.background {
  min-width: 100%;
  min-height: 100%;
  height: auto;
  width: auto;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: -100;
}

.header {
  color: white;
  text-align: center;
  width: 75%;
  margin: auto;
}

body {
  color: white;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-image: url('/images/gordon.png');
  background-size: cover;
}

html {
  height: 100%;
  width: 100%;
}

label.required::after {
  content:" *";
  color: red;
  font-size: 18px;
}

#emailText-error, #passwordRepeat-error, #password-error {
  color: red;
}

.error-message {
  color: red;
}

