{% extends "templates/main.html" %}

{% block maincontent %}

<div class='header'>
  <h1>Recover password</h1>

  <p>Forgot your password? Enter your email below to receive a link to recover your password.</p>
</div>

<div class='center-block interaction-block' style='width: 50%; margin: auto;'>
  {% if not email_sent %}
  <form class="form" action="/api/forgot" method="POST">
    <div class='form-group'>
      <label for='email'>Email Address: </label>
      <input id='email' class='form-control' type="email" name="email_address"/>
      <input type="hidden" name="resendEmail" value=""/>
      <input type="hidden" name="resendForgot" value="" />
    </div>

    {% if not_found %}
    <div style='color: red;'>
      <strong>Not found!</strong> We could not find any user with the given email.
    </div>
    {% endif %}

    <input type="submit" class='btn btn-margin btn-success' value="Send Email"/>
  </form>
  {% else %}
  <div>
    {% if not resendEmail %}
    <p>An email has been sent to {{email_address}}. Please check your email for a link to reset your password.</p>
    {% else %}
    <p>An email has been resent to {{email_address}}. Please check your email for a link to reset your password.</p>
    {% endif %}
    <p>FOR DEVELOPERS: go here to reset: <a href="{{ verification_url }}">Reset Link</a> </p>  
  </div>
  <form class="form" action="/api/forgot" method="POST">
    <input type="hidden" name="email_address" value="{{ email_address }}" />
    <input type="hidden" name="resendEmail" value="True"/>
    <input type="hidden" name="resendForgot" value="{{ verification_url }}" />
    <input type="submit" class='btn btn-margin btn-success' value="Resend Email"/>
  </form>
  {% endif %}
</div>

{% endblock %}