{% extends "templates/main.html" %}

{% block maincontent %}
<div class='header'>
	<h1>WPI Major Tracking</h1>
	<p style='font-size: 18px; font-style:italic;'>
		Bringing WPI into the 21st Century
	</p>
</div>

<div id="formContainer" class='center-form'>
	<div id='login' class='center-block interaction-block'>
		{% if failed %}

		    <strong>Login failed!</strong> Check your credentials and try again.

		{% endif %}

		<form class="form" action= "/api/login" method="POST">
			<div class='form-group'>
				<label for="email_address">Email:</label>
				<input type="email" class='form-control' value="{{ email_address }}" placeholder="example@email.com" name="email_address"/>
			</div>

			<div class='form-group'>
				<label for="password">Password:</label>
				<input type="password" class='form-control' placeholder="Password" name="password"/>
			</div>
			<div class='form-group'>
				<a href="/api/forgot">Forgot your password?</a>
			</div>
			<div class='form-group'>
				<button type="submit" class='btn-margin btn btn-primary'>
					<span class='glyphicon glyphicon-lock' aria-hidden='true'></span>
					Login
				</button>
			</div>
		</form>
		</div>
		<div class='interaction-block'>
			<p>
				Don't have an account?
			</p>
			<form action="/public/signup.html">
				<div>
					<input id="registerButton" type="submit" class='btn btn-margin btn-success' value="Register">
				</div>
			</form>
		</div>
</div>
{% endblock %}