{% extends "main.html" %}

{% block maincontent %}

<h1>Login</h1>

{% if failed %}

    <strong>Login failed!</strong> Check your credentials and try again.

{% endif %}

<form class="form" style="width: 275px;" action= "/login" method="POST">
	<label class="inputLabel" for="username">Username:
		<input type="text" value="{{ username }}" name="username"/>
	</label>
	<label class="inputLabel" for="password">Password:
		<input type="password" name="password"/>
	</label>
	<button type="submit" style="float:right" class="btn">Login</button>
</form>

<br>
<p style="clear:right;"><i>"Forgot password" functionality currently not working</i></p>
<!--<a href="/forgot">Forgot password</a>-->


{% endblock %}