<!DOCTYPE html>
<html>
<head>
	<title>Major Tracking Sheet</title>
	<link href='https://fonts.googleapis.com/css?family=Montserrat:700' rel='stylesheet' type='text/css'> 
	<link rel="stylesheet" type="text/css" href="../stylesheets/majorsheet.css">
	<!-- Bootstrap -->
   <link href="css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
	<div>
	<div id="title">
		Major Tracking Sheet
	</div>
	<div id="logout">
		Log Out
	</div>
	<div id="whitespace">
		stuff
	</div>
	<div id="username">
		<!--GET THE USERNAME FROM DATABASE -->
		username
	</div>
	</div>

	<div>
		<div>
			Student's Name:
		</div>
		<div>
			Major:
		</div>
		<div>
			Class Year
		</div>
		<div>
			Email:  
		</div>
	</div>
	<div>
		<div>
			Advisor's Name:
		</div>
		<div>
			Email:
		</div>
	</div>
</body>
</html>