{% extends "templates/main.html" %}

{% block maincontent %}

<div class='header'>
	<h1>Reset password</h1>
</div>

<div class='center-block interaction-block' style='width: 50%; margin: auto;'>
	{% if updated_password %}
	<p>Password updated!</p>
	<form action="/" method="get">
		<input class='btn btn-margin btn-success' type='submit' value='Return Home'/>
	</form>
	{% else %}
	<form action="/api/password" method="post">
		<div class='form-group'>
	    	<label>New password</label>
			<input class="form-control" type="password" name="password" />
		</div>
		<div class='form-group'>
			<label>Confrim password</label>
			<input class="form-control" type="password" name="confirm_password" />
		</div>
		<input type="hidden" name="t" value="{{ token }}" />
		{% if mismatch %}
    	<p class="errorMsg"><strong>Passwords do not match!</strong></p>
		{% endif %}
	    <input class='btn btn-margin btn-success' type="submit" value="Update Password" />
	</form>	
	{% endif %}
</div>

{% endblock %}
