{% extends "templates/main.html" %}

{% block maincontent %}
<script type='text/javascript' src='/js/script.js'></script>
<div class='header'>
	<h1>Reset password</h1>
</div>

<div class='center-block interaction-block' style='width: 50%; margin: auto;'>
	{% if updated_password %}
	<form id="redirectResetForm" action="/" method="GET">
		<p>Password updated! You will be redirected back to the home page in 3 seconds...</p>
	</form>
	<script>delayFormSubmission('#redirectResetForm') </script>
	{% else %}
	<form id="formContainer" action="/api/password" method="post">
		<div class='form-group'>
	    	<label>New password</label>
			<input class="form-control" type="password" name="password" />
		</div>
		<div class='form-group'>
			<label>Confrim password</label>
			<input class="form-control" type="password" name="confirm_password" />
		</div>
		<input type="hidden" name="t" value="{{ token }}" />
		{% if mismatch %}
    	<p class="errorMsg"><strong>Passwords do not match!</strong></p>
		{% endif %}
	    <input class='btn btn-margin btn-success' type="submit" value="Update Password" />
	</form>	
	{% endif %}
</div>

{% endblock %}
