{% extends "templates/main.html" %}

{% block title %}Register{% endblock %}

{% block maincontent %}
<script type='text/javascript' src='/js/script.js'></script>
<h1 class='header'>Registration Form</h1>
<div id='login' class='center-block center-form interaction-block'>
	{% if not email_sent %}
	<form id="registration-form" class='form' action="/api/signup" method="POST">
		<div class='form-group'>
			<label for="email_address" class="required">Email:</label>
			<input type="email" class='form-control' id="emailText" name="email_address" autocomplete="off" autocapitalize="off" autocorrect="off" placeholder="example@email.com" required/>
		</div>
		<div class='form-group'>
			<label for="password" class="required" >Password:</label>
			<input class='form-control' type="password" name="password" id="password" placeholder="Password" required/>
		</div>
		<div class='form-group'>
			<label for="passwordRepeat" class="required">Confirm Password:</label>
			<input class='form-control' type="password" name="passwordRepeat" id="passwordRepeat" placeholder="Confirm Password" required/>
		</div>
		<div class='form-group'>
			<label for="major" class="required">Major:</label>
			<select name="major" class='form-control'>
				<option value="Computer Science">Computer Science</option>
			</select>
		</div>

		<div class='form-group'>
			<label for="name" class="required">First Name:</label>
			<input type="text" class='form-control' name="name" autocomplete="off" autocapitalize="off" autocorrect="off" id="firstName" placeholder="First Name" required/>
		</div>

		<div class='form-group'>
			<label for="lastname" class="required">Last Name:</label>
			<input type="text" class='form-control' name="lastname" autocomplete="off" autocapitalize="off" autocorrect="off" id="lastName" placeholder="Last Name" required/>
		</div>
		{% if duplicate %}
		<p class="error-message">Unable to create user for email {{email_address}} because of duplicate keys {{duplicateKeys}}</p>
		{% endif %}
		<input type="hidden" name="resendEmail" value=""/>
		<input type="hidden" name="resendVerification" value="" />
		<input type="submit" class='btn btn-margin btn-success' value="Create Account" id="createUserBtn"/>
	</form>
	{% elif email_sent and not user_verified %}
	<div>
		{% if not resendEmail %}
		<p>An email has been sent to {{email_address}}. Please check your email for a link to verify your account.</p>
		{% else %}
		<p>An email has been resent to {{email_address}}. Please check your email for a link to verify your account.</p>
		{% endif %}
  		<form class='form-inline' style='float:left' action="/api/signup" method="POST">
  			<input type="hidden" name="email_address" value="{{ email_address }}" />
  			<input type="hidden" name="resendEmail" value="True" />
  			<input type="hidden" name="resendVerification" value="{{ verification_url }}" />
  			<input type='submit' class='btn btn-margin btn-info' value='Resend Email'/>
  		</form>
  		<form class='form' style='float:right' action='/api/signup' method='get'>
  			<input type='submit' class='btn btn-margin btn-success' value='Edit Registration'/>
  		</form>
		{% if development_mode %}
  		<p>FOR DEVELOPERS: go here to verify: <a href="{{ verification_url }}">Verification Link</a> </p>
		{% endif %}
	</div>
	{% endif %}
	{% if user_verified %}
	<form class='form' action='/' method='GET'>
		<p>The email address has been verified.</p>
		<input type="submit" class='btn btn-margin btn-success' value="Return Home"/>
	</form>
	{% endif %}
</div>
{% endblock %}