{% extends "templates/main.html" %}

{% block title %}Register{% endblock %}

{% block maincontent %}

<h1 class='header'>Registration Form</h1>
<div id='login' class='center-block center-form interaction-block'>
	<form id="registration-form" class='form' action="/api/signup" method="POST">
		{% if not email_sent %}
		<div class='form-group'>
			<label for="email" class="required">Email:</label>
			<input type="email" class='form-control' id="emailText" name="email" autocomplete="off" autocapitalize="off" autocorrect="off" placeholder="example@email.com" required/>
		</div>
		<div class='form-group'>
			<label for="password" class="required" >Password:</label>
			<input class='form-control' type="password" name="password" id="password" placeholder="Password" required/>
		</div>
		<div class='form-group'>
			<label for="passwordRepeat" class="required">Confirm Password:</label>
			<input class='form-control' type="password" name="passwordRepeat" id="passwordRepeat" placeholder="Confirm Password" required/>
		</div>
		<div class='form-group'>
			<label for="major" class="required">Major:</label>
			<select name="major" class='form-control'>
				<option value="Computer Science">Computer Science</option>
			</select>
		</div>

		<div class='form-group'>
			<label for="name" class="required">First Name:</label>
			<input type="text" class='form-control' name="name" autocomplete="off" autocapitalize="off" autocorrect="off" id="firstName" placeholder="First Name" required/>
		</div>

		<div class='form-group'>
			<label for="lastname" class="required">Last Name:</label>
			<input type="text" class='form-control' name="lastname" autocomplete="off" autocapitalize="off" autocorrect="off" id="lastName" placeholder="Last Name" required/>
		</div>
		<input type="submit" class='btn btn-margin btn-success' value="Create Account" id="createUserBtn"/>
		{% elif email_sent and not user_verified %}
		<div>
      		<p>Please go check your email for a link to verify your account.</p>
      		<p>FOR DEVELOPERS: go here to verify: <a href="{{ verification_url }}">Verification Link</a> </p>      
    	</div>
    	{% endif %}

    	{% if user_verified %}
		<p>The email address has been verified.</p>
		<input type="submit" formaction="/" formmethod="GET" class='btn btn-margin btn-success' value="Return Home"/>
		{% endif %}
	</form>
</div>
{% endblock %}