{% extends "templates/main.html" %}
{% block head %}
<link rel="stylesheet" type="text/css" href="/css/userLanding.css">
<script type='text/javascript' src='/js/script.js'></script>
{% endblock %} 

{% block maincontent %}
<div style="visibility: hidden;">joi</div>

<nav class="navbar navbar-inverse">
	<div class="container-fluid">
		<div class="navbar-header">
			<div class="headerFont" href="#">Computer Science</div>
		</div>
		<div style="text-align: center;">
			<ul class="nav navbar-nav">
				<li>
					<a href="/">
						<span class="glyphicon glyphicon-home" aria-hidden="true"></span> Home
					</a>
				</li>
				<li><a href="#iqp">IQP</a></li>
				<li><a href="#mqp">MQP</a></li> 
				<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown">Humanities &amp; Arts
						<span class="caret"></span>
					</a>
					<ul class="dropdown-menu">
						<li><a href="#hua-depth">Depth Component</a></li>
						<li><a href="#hua-breath">Breath Component</a></li>
						<li><a href="#hua-elective">Humanities Electives</a></li> 
					</ul>
				</li>
				<li><a href="#pe">PE</a></li> 
				<li><a href="#social-sci">Social Science</a></li>
				<li><a href="#free-elective">Free Electives</a></li> 
				<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown">Computer Science
						<span class="caret"></span>
					</a>
					<ul class="dropdown-menu">
						<li><a href="#cs-systems">Systems</a></li> 
						<li><a href="#cs-languages">Languages</a></li>
						<li><a href="#cs-design">Design</a></li> 
						<li><a href="#cs-social">Social Implications</a></li> 
						<li><a href="#cs-other">Other Courses</a></li> 
					</ul>
				</li>
				<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown">Math
						<span class="caret"></span>
					</a>
					<ul class="dropdown-menu">
						<li><a href="#math-prob">Probability</a></li> 
						<li><a href="#math-stats">Statistics</a></li> 
						<li><a href="#math-other">Other Courses</a></li> 
					</ul>
				</li>
				<li><a href="#">Science</a></li>
			</ul>
		</div>
	</div>

	<!-- <div class="interaction-block" style="margin:auto;"> -->
	<form onsubmit="emailAdvisor(); return false;" class="form-inline" style="text-align: center;">
		<div class="form-group">
			<label for="advisor-name">Name</label>
			<input type="text" class="form-control" id="advisor_name" name="advisor_name" placeholder="Advisor's Name">
			<label for="advisor-email">Email</label>
			<input type="text" class="form-control" id="advisor_email" name="advisor_email" placeholder="Advisor's Email" required>
			<input type="hidden" name="sheet_id" id="sheet_id" value="{{ id }}"/>
			<input type="hidden" name="user_name" id="user_name" value="{{ user.name }}"/>
			<button type="submit" class="btn-margin btn btn-success">
				<span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
				Send Invitation
			</button>
		</div>
	</form>

	<hr>

	<form method='post'>
		<div class="majorsheet-box" id="iqp">
			<h3>IQP</h3>
			<div class="form-group inline">
				<label for="advisor-name">Project Title</label>
				<input type="text" class="form-control inline autoWidth" name="iqp_title" placeholder="Project Title">
			</div>
			<div class="checkbox checkbox-inline inline">
				<label><input type="checkbox" value="False" name="iqp_cb0">1/3 Unit</label>
			</div>
			<div class="checkbox checkbox-inline inline">
				<label><input type="checkbox" value="False" name="iqp_cb1">1/3 Unit</label>
			</div>
			<div class="checkbox checkbox-inline inline">
				<label><input type="checkbox" value="False" name="iqp_cb2">1/3 Unit</label>
			</div>
		</div>

		<hr>

		<div class="majorsheet-box" id="mqp">
			<h3>MQP</h3>
			<div class="form-group inline">
				<label for="advisor-name">Project Title</label>
				<input type="text" class="form-control inline autoWidth" name="mqp_title" placeholder="Project Title">
			</div>
			<div class="checkbox checkbox-inline inline">
				<label><input type="checkbox" value="False" name="mqp_cb0">1/3 Unit</label>
			</div>
			<div class="checkbox checkbox-inline inline">
				<label><input type="checkbox" value="False" name="mqp_cb1">1/3 Unit</label>
			</div>
			<div class="checkbox checkbox-inline inline">
				<label><input type="checkbox" value="False" name="mqp_cb2">1/3 Unit</label>
			</div>
		</div>

		<hr>

		<div class="majorsheet-box" id="hua">
			<h3>Humanities &amp; Arts</h3>
			<h4 id="hua-depth">Depth Component</h4>
			<p>
				Students must complete at least three thematically-related courses prior to the culminating Inquiry Seminar or Practicum in the same thematic area. At least one of the three courses should be at the 2000-level or above.
			</p>
			<div class="checkbox inline">
				<label><input type="checkbox" value="False" name="hua_cb0"></label>
			</div>
			<div class="form-group inline">
				<input type="text" class="form-control inline autoWidth" placeholder="Course 1" name="hua_course0">
			</div>
			<br>
			<div class="checkbox inline">
				<label><input type="checkbox" value="False" name="hua_cb1"></label>
			</div>
			<div class="form-group inline">
				<input type="text" class="form-control inline autoWidth" placeholder="Course 2" name="hua_course1">
			</div>
			<br>
			<div class="checkbox inline">
				<label><input type="checkbox" value="False" name="hua_cb2"></label>
			</div>
			<div class="form-group inline">
				<input type="text" class="form-control inline autoWidth" placeholder="Course 3" name="hua_course2">
			</div>
			<br>
			<div class="checkbox inline">
				<label><input type="checkbox" value="False" name="hua_cb3"></label>
			</div>
			<div class="form-group inline">
				<input type="text" class="form-control inline autoWidth" placeholder="Course 4" name="hua_course3">
			</div>
			<h4 id="hua-breath">Breath Component</h4>
			<p>
				Students must take at least one course outside the grouping in which they complete their depth component. To identify breadth, courses are grouped in the following manner.
				<ul>
					<li>art/art history, drama/theatre, and music (AR, EN/TH, MU)</li>
					<li>foreign languages (SP, GN, AB, CN)</li>
					<li>literature and writing rhetoric (EN, WR, RH)</li>
					<li>history and international studies (HI, HU)</li>
					<li>philosophy and religion (PY, RE)</li>
				</ul>
				Exception: May take all six courses in a foreign language
			</p>
			<div class="checkbox inline">
				<label><input type="checkbox" value="False" name="hua_cb4"></label>
			</div>
			<div class="form-group inline">
				<input type="text" class="form-control inline autoWidth" placeholder="Course" name="hua_course4">
			</div>

			<h4 id="hua-elective">Free Electives</h4>
			<div class="checkbox inline">
				<label><input type="checkbox" value="False" name="hua_cb5"></label>
			</div>
			<div class="form-group inline">
				<input type="text" class="form-control inline autoWidth" placeholder="Course" name="hua_course5">
			</div>
		</div>

		<hr>

		<div class="majorsheet-box" id="pe">
			<h3>Physical Education</h3>
			<div class="checkbox inline">
				<label><input type="checkbox" value="False" name="pe_cb0"></label>
			</div>
			<div class="form-group inline">
				<input type="text" class="form-control inline autoWidth" placeholder="Course 1" name="pe_course0">
			</div>
			<br>
			<div class="checkbox inline">
				<label><input type="checkbox" value="False" name="pe_cb1"></label>
			</div>
			<div class="form-group inline">
				<input type="text" class="form-control inline autoWidth" placeholder="Course 2" name="pe_course1">
			</div>
			<br>
			<div class="checkbox inline">
				<label><input type="checkbox" value="False" name="pe_cb2"></label>
			</div>
			<div class="form-group inline">
				<input type="text" class="form-control inline autoWidth" placeholder="Course 3" name="pe_course2">
			</div>
			<br>
			<div class="checkbox inline">
				<label><input type="checkbox" value="False" name="pe_cb3"></label>
			</div>
			<div class="form-group inline">
				<input type="text" class="form-control inline autoWidth" placeholder="Course 4" name="pe_course3">
			</div>
		</div>

		<hr>

		<div class="majorsheet-box" id="social-sci">
			<h3>Social Science</h3>
			<p>
				ECON, ENV, GOV, PSY, SD, SOC, SS, STS and ID 2050
			</p>
			<div class="checkbox inline">
				<label><input type="checkbox" value="False" name="ss_cb0"></label>
			</div>
			<div class="form-group inline">
				<input type="text" class="form-control inline autoWidth" placeholder="Course 1" name="ss_course0">
			</div>
			<br>
			<div class="checkbox inline">
				<label><input type="checkbox" value="False" name="ss_cb1"></label>
			</div>
			<div class="form-group inline">
				<input type="text" class="form-control inline autoWidth" placeholder="Course 2" name="ss_course1">
			</div>
		</div>

		<hr>

		<div class="majorsheet-box" id="free-elective">
			<h3>Free Electives</h3>
			<div class="checkbox inline">
				<label><input type="checkbox" value="False" name="elective_cb0"></label>
			</div>
			<div class="form-group inline">
				<input type="text" class="form-control inline autoWidth" placeholder="Course 1" name="elective_course0">
			</div>
			<br>
			<div class="checkbox inline">
				<label><input type="checkbox" value="False" name="elective_cb1"></label>
			</div>
			<div class="form-group inline">
				<input type="text" class="form-control inline autoWidth" placeholder="Course 2" name="elective_course1">
			</div>
			<br>
			<div class="checkbox inline">
				<label><input type="checkbox" value="False" name="elective_cb2"></label>
			</div>
			<div class="form-group inline">
				<input type="text" class="form-control inline autoWidth" placeholder="Course 3" name="elective_course2">
			</div>
		</div>

		<hr>

		<div class="majorsheet-box" id="cs">
			<h3>Computer Science</h3>
			<p>
				Only CS 1101, CS 1102 and computer science courses at the 2000-level or higher will count towards the computer science requirement. CS 2118 will not count towards the computer science requirement
			</p>
			<h4 id="cs-systems">Systems</h4>
			<div class="checkbox inline">
				<label><input type="checkbox" value="False" name="cs_cb0"></label>
			</div>
			<select class="form-control inline halfWidth" name="cs_course0">
    		<option>Operating Systems (CS 3013)</option>
    		<option>Distributed Computing Systems (CS 4513)</option>
    		<option>Computer Architecture (CS 4515)</option>
    		<option>Advanced Computer Networks (CS 4516)</option>
  		</select>

			<h4 id="cs-languages">Languages</h4>
			<div class="checkbox inline">
				<label><input type="checkbox" value="False" name="cs_cb1"></label>
			</div>
			<select class="form-control inline halfWidth" name="cs_course1">
    		<option>Foundations of Computer Science (CS 3133)</option>
    		<option>Analysis of Algorithms (CS 4120)</option>
    		<option>Theory of Computation (CS 4123)</option>
    		<option>Techniques of Programming Language Translation (CS 4533)</option>
    		<option>Programming Languages (CS 4536)</option>
  		</select>

			<h4 id="cs-design">Design</h4>
			<div class="checkbox inline">
				<label><input type="checkbox" value="False" name="cs_cb2"></label>
			</div>
			<select class="form-control inline halfWidth" name="cs_course2">
    		<option>Human-computer Interaction (CS 3041)</option>
    		<option>Database Systems I (CS 3431)</option>
    		<option>Software Engineering (CS 3733)</option>
    		<option>Object-oriented Analysis &amp; Design (CS 4233)</option>
  		</select>

			<h4 id="cs-social">Social Implications</h4>
			<div class="checkbox inline">
				<label><input type="checkbox" value="False" name="cs_cb3"></label>
			</div>
			<select class="form-control inline halfWidth" name="cs_course3">
    		<option>	Social Implications of Information Processing (CS 3043)</option>
    		<option>The Society-technology Debate (STS 2208)</option>
    		<option>Cyberlaw &amp; Policy (GOV/ID 2314)</option>
  		</select>

  		<h4>Other Courses</h4>
			<div class="checkbox inline">
				<label><input type="checkbox" value="False" name="cs_cb4"></label>
			</div>
			<div class="form-group inline">
				<input type="text" class="form-control inline autoWidth" placeholder="Course 5" name="cs_course4">
			</div>
			<br>
			<div class="checkbox inline">
				<label><input type="checkbox" value="False" name="cs_cb5"></label>
			</div>
			<div class="form-group inline">
				<input type="text" class="form-control inline autoWidth" placeholder="Course 6" name="cs_course5">
			</div>
			<br>
			<div class="checkbox inline">
				<label><input type="checkbox" value="False" name="cs_cb6"></label>
			</div>
			<div class="form-group inline">
				<input type="text" class="form-control inline autoWidth" placeholder="Course 7" name="cs_course6">
			</div>
			<br>
			<div class="checkbox inline">
				<label><input type="checkbox" value="False" name="cs_cb7"></label>
			</div>
			<div class="form-group inline">
				<input type="text" class="form-control inline autoWidth" placeholder="Course 8" name="cs_course7">
			</div>
			<br>
			<div class="checkbox inline">
				<label><input type="checkbox" value="False" name="cs_cb8"></label>
			</div>
			<div class="form-group inline">
				<input type="text" class="form-control inline autoWidth" placeholder="Course 9" name="cs_course8">
			</div>
			<br>
			<div class="checkbox inline">
				<label><input type="checkbox" value="False" name="cs_cb9"></label>
			</div>
			<div class="form-group inline">
				<input type="text" class="form-control inline autoWidth" placeholder="Course 10" name="cs_course9">
			</div>
			<br>
			<div class="checkbox inline">
				<label><input type="checkbox" value="False" name="cs_cb11"></label>
			</div>
			<div class="form-group inline">
				<input type="text" class="form-control inline autoWidth" placeholder="Course 11" name="cs_course11">
			</div>
			<br>
			<div class="checkbox inline">
				<label><input type="checkbox" value="False" name="cs_cb12"></label>
			</div>
			<div class="form-group inline">
				<input type="text" class="form-control inline autoWidth" placeholder="Course 12" name="cs_course12">
			</div>
			<br>
			<div class="checkbox inline">
				<label><input type="checkbox" value="False" name="cs_cb13"></label>
			</div>
			<div class="form-group inline">
				<input type="text" class="form-control inline autoWidth" placeholder="Course 13" name="cs_course13">
			</div>
			<br>
			<div class="checkbox inline">
				<label><input type="checkbox" value="False" name="cs_cb14"></label>
			</div>
			<div class="form-group inline">
				<input type="text" class="form-control inline autoWidth" placeholder="Course 14" name="cs_course14">
			</div>
			<br>
			<div class="checkbox inline">
				<label><input type="checkbox" value="False" name="cs_cb15"></label>
			</div>
			<div class="form-group inline">
				<input type="text" class="form-control inline autoWidth" placeholder="Course 15" name="cs_course15">
			</div>
		</div>

		<hr>

		<div class="majorsheet-box" id="math">
			<h3>Mathematics</h3>
			<p>
				A cross-listed course may be counted toward only one of areas Computer Science, Mathematics, Basic Science and/or Engineering, above.
			</p>
			<p>
				 At most four 1000-level Mathematics courses may be counted towards this requirement.
			</p>

			<h4 id="math-prob">Probability</h4>
			<div class="checkbox inline">
				<label><input type="checkbox" value="False" name="math_cb0"></label>
			</div>
			<select class="form-control inline halfWidth" name="math_course0">
    		<option>	Probability For Applications (MA 2621)</option>
    		<option>Probability (MA 2631)</option>
  		</select>

			<h4 id="math-stats">Statistics</h4>
			<div class="checkbox inline">
				<label><input type="checkbox" value="False" name="math_cb1"></label>
			</div>
			<select class="form-control inline halfWidth" name="math_course1">
    		<option>Applied Statistics I (MA 2611)</option>
    		<option>Applied Statistics II (MA 2612)</option>
  		</select>

  		<h4 id="math-other">Other Courses</h4>
			<div class="checkbox inline">
				<label><input type="checkbox" value="False" name="math_cb2"></label>
			</div>
			<div class="form-group inline">
				<input type="text" class="form-control inline autoWidth" placeholder="Course 3" name="math_course2">
			</div>
			<br>
			<div class="checkbox inline">
				<label><input type="checkbox" value="False" name="math_cb3"></label>
			</div>
			<div class="form-group inline">
				<input type="text" class="form-control inline autoWidth" placeholder="Course 4" name="math_course3">
			</div>
			<br>
			<div class="checkbox inline">
				<label><input type="checkbox" value="False" name="math_cb4"></label>
			</div>
			<div class="form-group inline">
				<input type="text" class="form-control inline autoWidth" placeholder="Course 5" name="math_course4">
			</div>
			<br>
			<div class="checkbox inline">
				<label><input type="checkbox" value="False" name="math_cb5"></label>
			</div>
			<div class="form-group inline">
				<input type="text" class="form-control inline autoWidth" placeholder="Course 6" name="math_course5">
			</div>
			<br>
			<div class="checkbox inline">
				<label><input type="checkbox" value="False" name="math_cb6"></label>
			</div>
			<div class="form-group inline">
				<input type="text" class="form-control inline autoWidth" placeholder="Course 7" name="math_course6">
			</div>
		</div>

		<hr>

		<div class="majorsheet-box" id="math">
			<h3>Basic Science &amp; Engineering Science</h3>
			<p>
				 Courses satisfying the science requirement must come from the BB,BME, CE, CH, CHE, ECE, ES, GE, ME, PH, RBE disciplines . At least three courses must come from BB, CH, GE, PH, where at least two courses are from one of these disciplines.
			</p>
			<div class="checkbox inline">
				<label><input type="checkbox" value="False" name="science_cb0"></label>
			</div>
			<div class="form-group inline">
				<input type="text" class="form-control inline autoWidth" placeholder="Course 1" name="science_course0">
			</div>
			<br>
			<div class="checkbox inline">
				<label><input type="checkbox" value="False" name="science_cb1"></label>
			</div>
			<div class="form-group inline">
				<input type="text" class="form-control inline autoWidth" placeholder="Course 2" name="science_course1">
			</div>
			<br>
			<div class="checkbox inline">
				<label><input type="checkbox" value="False" name="science_cb2"></label>
			</div>
			<div class="form-group inline">
				<input type="text" class="form-control inline autoWidth" placeholder="Course 3" name="science_course2">
			</div>
			<br>
			<div class="checkbox inline">
				<label><input type="checkbox" value="False" name="science_cb3"></label>
			</div>
			<div class="form-group inline">
				<input type="text" class="form-control inline autoWidth" placeholder="Course 4" name="science_course3">
			</div>
			<br>
			<div class="checkbox inline">
				<label><input type="checkbox" value="False" name="science_cb4"></label>
			</div>
			<div class="form-group inline">
				<input type="text" class="form-control inline autoWidth" placeholder="Course 5" name="science_course4">
			</div>
		</div>

		<div class="btn-center">
			<button type="submit" class="btn-margin btn btn-success">
				Save
   		</button>
   	</div>

	</form>

</nav>






{% endblock %}