{% extends "templates/main.html" %}
{% block head %}
<link rel="stylesheet" type="text/css" href="/css/userLanding.css">
{% endblock %} 
{% block maincontent %}
<div style="visibility: hidden;">joi</div>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">COMPUTER SCIENCE</a>
    </div>
    <div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">IQP</a></li>
        <li><a href="#">MQP</a></li> 
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Humanities & Arts
          <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Depth Component</a></li>
            <li><a href="#">Breath Component</a></li>
            <li><a href="#">Humanities Electives</a></li> 
          </ul>
        </li>
        <li><a href="#">PE</a></li> 
        <li><a href="#">Social Science</a></li>
        <li><a href="#">Free Electives</a></li> 
        <li><a href="#">Computer Science</a></li> 
        <li><a href="#">Math</a></li>
        <li><a href="#">Science</a></li>
      </ul>
    </div>
  </div>
</nav>

<div id="sheetList" class="interaction-block">
<form class="form-inline">
	<div class="form-group">
		<label for="advisor-name">Name</label>
		<input type="text" class="form-control" id="advisor-name" placeholder="Advisor's Name">
		<label for="advisor-email">Email</label>
		<input type="text" class="form-control" id="advisor-email" placeholder="Advisor's Email">
		<button type="submit" class="btn-margin btn btn-success">
      <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
        Send Invitation
    </button>
	</div>
</form>
</div>

{% endblock %}