{% extends "templates/main.html" %}

{% block head %}

<link rel='stylesheet' href='/css/userLanding.css'>

{% endblock %}


{% block maincontent %}

<h1>
  WPI Major Tracking
</h1>
<h2>
  Welcome {{ user.name }}
</h2>
<div id='instructions' class='interaction-block header'>
  Select a major tracking sheet below, or create a new one.
</div>
<div id='sheetList' class='interaction-block'>
  {% if not sheets|length %}
  You don't have any tracking sheets. Create one above.
  {% endif %}
  {% for sheet in sheets %}
  <div class='sheet'>
    <div class='sheetIcon'>
      <img class='sheetIcon' src='/images/file_icon.png' alt='file icon'>
    </div>
    <div class='sheetInfo'>
      <strong>{{ sheet.name }}</strong>
      <div class='date'>
        {{ sheet.date }}
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}